html,
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f5e8ba;
}

#wrapper div,
#wrapper h2 {
  display: flex;
  justify-content: center;
}

h2 {
  color: #fdfdfb;
  letter-spacing: 2px;
}

input {
  border-radius: 5px;
  border: 2px solid #f5e8ba;
  margin-top: 30px;
  height: 2em;
  width: 250px;
  padding-left: 10px;
  background-color: #ffffff;
}

input:active,
input:focus {
  border-color: #ffaa00;
  outline: none;
}

#wrapper {
  height: 500px;
  width: 400px;
  margin: 200px auto;
  background-image: linear-gradient(45deg, #ffaa00, #ff6b00);
  border-radius: 10px;
  padding: 30px;
}

button {
  margin-top: 20px;
  background-color: #ff6b00;
  border-radius: 4px;
  height: 44px;
  font-weight: 600;
  padding: 0 30px;
  letter-spacing: 2px;
  border: none;
  color: #4e07f5;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffaa00;
  cursor: pointer;
}

#result {
  color: #f8f7f6;
  margin-top: 20px;
  font-size: 32px;
}
/* Define the styles you want to apply when the button is clicked */
.highlight {
  background-color: yellow;
  color: black;
  font-weight: bold;
}
